@page "/excelimport"
@using MyBudget.Components
@using System.Text;

@if (expenseCategoryList == null)
{
	<MyBudgetLoadingIndicator />
}
else
{
	<h3 style="text-align:center;">Load incomes / expense from .xslx or .csv</h3>
	<div style="margin-top:5px;margin-bottom:5px;">
		<MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => TestExcel())" >Select File</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ClearFile" >Clear Selected File</MudButton>
		<MudText><strong>File Selected:</strong> @selectedFileString</MudText>
	</div>

	<div style="margin-top:30px;">
		<hr />
	</div>

	// Incomes section
	<div>
		<h5 style="text-align:center;">Incomes</h5>
		<IncomeHistoryAddTable incomeTempHistoryList="tempIncomeHistoryList" />
		@if (tempIncomeHistoryList == null || tempIncomeHistoryList.Count == 0)
		{
			<p class="nodata">No data to show</p>
		}
		<div style="margin-top:5px;margin-bottom:5px;float:right;">
			<MudButton Variant="Variant.Filled" Color="Color.Success">Submit Incomes</MudButton>
			<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ClearIncomes" >Clear Incomes</MudButton>
		</div>
	</div>

	<div style="margin-top:50px;">
		<hr />
	</div>

	// Expenses section
	<div style="margin-top:20px;">
		<h5 style="text-align:center;">Expenses</h5>
		<ExpenseHistoryAddTable expenseCategoryList="expenseCategoryList" expenseTempHistoryList="tempExpenseHistoryList" />
		@if (tempExpenseHistoryList == null || tempExpenseHistoryList.Count == 0)
		{
			<p class="nodata">No data to show</p>
		}
		<div style="margin-top:5px;margin-bottom:5px;float:right;">
			<MudButton Variant="Variant.Filled" Color="Color.Success">Submit Expenses</MudButton>
			<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ClearExpenses" >Clear Expenses</MudButton>
		</div>
	</div>

	@if (ShowLoading)
	{
		<MyBudgetLoadingIndicator />
	}
}
