@page "/incomehistoryaddmultiple"
@using MyBudget.Components

@if (incomeTempHistoryList.Count() == 0)
{
	<MyBudgetLoadingIndicator />
}
else
{
	<h3 style="text-align:center;">Add Multiple Income Histories</h3>
	<div style="margin-top:5px;margin-bottom:5px;">
		<LinkButton _href="/incomehistorypage" _text="Back to Income History"></LinkButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddRow">Add Row</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="DeleteRow">Delete Row</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="ProcessList" style="float:right;">Submit</MudButton>
	</div>

	<div>
		<IncomeHistoryAddTable incomeTempHistoryList="incomeTempHistoryList" />
	</div>

	<div style="margin-top:5px;margin-bottom:5px;">
		<LinkButton _href="/incomehistorypage" _text="Back to Income History"></LinkButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddRow">Add Row</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="DeleteRow">Delete Row</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="ProcessList" style="float:right;">Submit</MudButton>
	</div>
}
