@page "/incometypespage"
@using MyBudget.Services
@using MyBudget.Models
@inject IncomeTypeService incomeTypeService

<h3 style="text-align:center">Income Types</h3>
<p style="color:red">@Error</p>

@if (incomeTypesList == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Income Type Id</th>
				<th>Income Type</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var type in incomeTypesList)
			{
				<tr>
					<td>@type.IncomeTypeId</td>
					<td>@type.IncomeType</td>
					<td>
						<button class="btn btn-primary"
						@onclick="(() => EditRecord(type))">
							Edit
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<p>
		<button class="btn btn-success" @onclick="AddNewRecord">
			Add New Type
		</button>
	</p>

	@if (ShowPopup)
	{
		<div class="modal" tabindex="-1" style="display:block" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Edit Bank Account Type</h3>
						<!-- Button to close the popup -->
						<button type="button" class="close"
						@onclick="ClosePopup">
							<span aria-hidden="true">X</span>
						</button>
					</div>
					<!-- Edit form for the current forecast -->
					<div class="modal-body">
						<input class="form-control" type="number" disabled="disabled"
					   @bind="incomeType.IncomeTypeId" />
						<input class="form-control" type="text"
					   placeholder="New Type"
					   @bind="incomeType.IncomeType" />
						<br />
						<!-- Button to save the forecast -->
						<button class="btn btn-success"
						@onclick="SaveRecord">
							Save
						</button>&nbsp;
						<!-- Only show delete button if not a new record -->
						@if (incomeType.IncomeTypeId > 0)
						{
							<!-- Button to delete the forecast -->
							<button class="btn btn-danger"
						@onclick="DeleteRecord">
								Delete
							</button>
						}
					</div>
				</div>
			</div>
		</div>
	}
}

@code {
	string Error = "";
	List<IncomeTypes> incomeTypesList = new();
	IncomeTypes incomeType = new();
	bool ShowPopup = false;

	protected override async Task OnInitializedAsync()
	{
		incomeTypesList = await incomeTypeService.GetList();
	}

	void ClosePopup()
	{
		ShowPopup = false;
	}

	void AddNewRecord()
	{
		incomeType = new IncomeTypes();
		incomeType.IncomeTypeId = 0;
		ShowPopup = true;
	}

	void EditRecord(IncomeTypes type)
	{
		incomeType = type;
		ShowPopup = true;
	}

	async Task SaveRecord()
	{
		ShowPopup = false;
		Error = "";
	}

	async Task DeleteRecord()
	{
		ShowPopup = false;
		Error = "";
	}
}
