@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

	public List<object> testData = new List<object>() { 3, 10, 6 };
	public string[] xAxisItems = new string[] { "t1", "t2", "t3", "t4" };

}
