@page "/"
@using MyBudget.Components

@if (_lastMonthConfig == null || _thisMonthConfig == null || _lastYearConfig == null || _thisYearConfig == null || donutChartDictionary == null)
{
	<MyBudgetLoadingIndicator />
}
else
{
	<h1 style="text-align:center;">CG Budgeting</h1>
	<h4 style="text-align:center;">Income and Expenses</h4>

	<div class="graph-flex-container">
		<div>
			<h6 style="text-align:center;">Last Month Income/Expenses</h6>
			<Chart Config="_lastMonthConfig" ></Chart>
		</div>
		<div>
			<h6 style="text-align:center;">This Month Income/Expenses</h6>
			<Chart Config="_thisMonthConfig" ></Chart>
		</div>
		<div>
			<h6 style="text-align:center;">Last Year Income/Expenses</h6>
			<Chart Config="_lastYearConfig" ></Chart>
		</div>
		<div>
			<h6 style="text-align:center;">This Year Income/Expenses</h6>
			<Chart Config="_thisYearConfig" ></Chart>
		</div>
	</div>

	<div class="donut-chart-flex-container">
		<div id="donut-chart">
			<h6>Last Month Expenses Break Down</h6>
			<MudChart ChartType="MudBlazor.ChartType.Donut" Width="300px" Height="300px" @bind-SelectedIndex="donutIndex"
				  InputData="donutChartData" InputLabels="donutChartLabels" ></MudChart>
		</div>
	</div>
}
